@keyframes course-skeleton-animation {
  0% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 50% 0;
  }
  100% {
    background-position: 50% 100%;
  }
}

.ant-upload-list-picture-card > .ant-upload-select:hover {
  border-color: #ffe866 !important;
}
