html {
  --neutral-dark-gray: #212121;
  --neutral-off-white: #f4f4f4;
  --neutral-white: #fff;
  --neutral-light-gray: #dadada;
  --neutral-medium-gray: #8c8c8c;
  --neutral-black: #0b0b0b;
  --code-dark-green: #9ed600;
  --code-purple: #6b6bf6;
}
