.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.61rem;
  height: 0.6rem;
  color: #fff;
  line-height: 0.2rem;
  background: #010101;

  border: 1px solid #f2f2f2;
  border-radius: 0.4rem;
  cursor: pointer;

  // @include font($family: 'Sofia Pro', $weight: 400, $sizi: 0.16rem);

  &:hover {
    background: #ffffff;
    color: #000000;
    // border: 1px solid #5B5B5B;
  }

  .btn-icon {
    width: 0.2rem;
    height: 0.2rem;
    margin-right: 0.12rem;
  }

  .right-icon {
    width: 0.13rem;
    height: 0.19rem;
    margin-left: 0.1rem;
  }
}

.w-button {
  color: #000;
  background: #ededed;
  border: 1px solid #ededed;

  &:hover {
    color: #000;
    background: #fff;
    border: 1px solid #5b5b5b;
  }
}
