html[data-theme='dark'] {
  --primary-green-yellow: #fcc409;
  --global-bg: var(--neutral-black);
  --text-default-color: var(--neutral-white);
  --text-default-hover-color: var(--neutral-white);

  /* course */
  --concept-card-bg: url('/images/card/ConceptLearning/dark-bg.svg');
  --guided-card-bg: url('/images/card/GuidedProject/dark-bg.svg');
  --hackathon-card-bg: url('/images/card/Hackathon/dark-bg.svg');
  --learning-track-card-bg: url('/images/card/LearningTracks/dark-bg.svg');
  --syntax-card-bg: url('/images/card/Syntax/dark-bg.svg');
  --teaser-card-bg: url('/images/card/Teaser/dark-bg.svg');
  --card-title-text-color: var(--neutral-white);
  --tag-border-color: var(--neutral-medium-gray);
  --tag-learning-track-border-color: var(--neutral-medium-gray);
  --tag-learning-track-text-color: var(--neutral-medium-gray);
  --card-description-text-color: var(--neutral-medium-gray);
  --banner-arrow-bg: var(--neutral-black);
  --banner-arrow-color: var(--neutral-white);
  --syntax-primary-color: ;
  --learning-track-primary-color: ;
  --concept-primary-color: ;
  --guided-primary-color: ;
  --teaser-primary-color: ;
  --hackathon-primary-color: ;
  --line-color: ;

  /* mission center */
  --mission-center-gradient-radial:linear-gradient(180deg, #353535 0%, #2e2e2e 100%);
  --mission-center-tab-box-shadow:linear-gradient(180deg, rgba(16, 16, 16, 0) 0%,#101010 100%);
  --mission-center-basics: #ededed;
  --mission-center-base-bg-color: #010101;
  --mission-center-tab-data: #fff;
  --mission-center-box-bg-color: #101010;
  --mission-center-round-bg-color: #d9d9d9;
  --mission-center-round-bg-color-d: #444;
  --mission-center-undertone: #828282;
  --mission-center-undertone-d: #7d7d7d;
  --mission-center-quests: #1c1c1c;
  --mission-center-quests-d: #232323;
  --mission-center-quests-box: #5c5c5c;
  --mission-center-quests-box-active: #fff;
  --mission-center-claimed: #6f6f6f;
  --mission-center-claimed-d: #000;
  --mission-center-quest-btn-bg-color: rgba(10, 10, 10, 0.4);
  --mission-center-quest-btn-bg-color-d: #404040;
  --mission-center-quests-box-hover: #030303;
  --mission-center-tab: #b2b2b2;
  --mission-center-tab-btn-claimed-color:#030303;
  --mission-center-tab-btn-claimed-bg:#fff;
  --mission-center-tab-btn-start-color:#EDEDED;
  --mission-center-tab-btn-start-bg:#353535;
  --mission-center-tab-btn-start-border:#353535;
  --mission-center-tab-border-color: #282828;
  --mission-center-tab-border-active-color: #fefefe;
  --mission-center-tab-bg:#202020;
  --mission-center-tab-svg-color: #202020;
  --mission-center-tab-color:#fff;
  --mission-center-b-tab:#282828;
  --mission-center-tab-svg: #292929;
  --mission-center-schedule-bg-color: #505050;
  --mission-center-schedule-bg-active-color: #f2f2f2;
  --mission-center-tab-shadow-t-color: rgba(16, 16, 16, 0);
  --mission-center-badge-modal-bg:#141414;
  --mission-center-track-color:#fff;
  --mission-center-track-color-r:#000;
  --mission-center-track-bg-r:#fff;
  --mission-center-track:#333;
  --mission-center-lock:#666;
  --mission-center-lock-bg:#1a1a1a;
  --mission-center-lock-bg-r:#f2f2f2;
  --mission-center-track-border: #353535;
  --mission-center-beginner-svg: #2a2a2a;
  --mission-center-beginner-bg: #1f1f1f;
  --mission-center-beginner-btn-color: #EDEDED;
  --mission-center-beginner-btn-bg: #353535;
  --mission-center-icon-twitter-color: #fff;
  --mission-center-icon-user-color: #D4D4D4;
}
