html[data-theme='dark'] {
  --primary-green-yellow: #fcc409;
  --global-bg: var(--neutral-black);
  /* 默认文字颜色 */
  --text-default-color: var(--neutral-white);
  --text-second-color: var(--neutral-light-gray);
  /* 默认文字hover颜色 */
  --text-default-hover-color: var(--neutral-white);

  /* 上下伪类下划线的颜色 */
  --line-color: var(--neutral-rich-gray);

  /* course */
  /* course card 背景图 */
  --course-concept-card-bg: url('/images/card/ConceptLearning/dark-bg.svg');
  --course-guided-card-bg: url('/images/card/GuidedProject/dark-bg.svg');
  --course-hackathon-card-bg: url('/images/card/Hackathon/dark-bg.svg');
  --course-learning-track-card-bg: url('/images/card/LearningTracks/dark-bg.svg');
  --course-syntax-card-bg: url('/images/card/Syntax/dark-bg.svg');
  --course-teaser-card-bg: url('/images/card/Teaser/dark-bg.svg');
  /* 课程卡片标题文字颜色 */
  --course-card-title-text-color: var(--neutral-white);
  /* 课程卡片描述字体颜色 */
  --course-card-description-text-color: var(--neutral-medium-gray);
  /* 课程tag边框颜色 */
  --course-tag-border-color: var(--neutral-medium-gray);
  /* 课程进度button背景色 */
  --course-progress-button-bg: var(--neutral-dark-gray);
  /* 课程进度icon颜色 */
  --course-progress-icon-color: var(--primary-green-yellow);
  /* 课程进度文字颜色 */
  --course-progress-text-color: var(--primary-green-yellow);
  --course-tag-learning-track-border-color: var(--neutral-medium-gray);
  /* learning track 主题色*/
  --course-tag-learning-track-text-color: var(--neutral-medium-gray);

  /* Trending Now 箭头背景色 */
  --course-banner-arrow-bg: var(--neutral-black);
  /* Trending Now 箭头icon */
  --course-banner-arrow-color: var(--neutral-white);
  /* syntax 主题色 */
  --course-syntax-primary-color: ;
  /* learning track 主题色 */
  --course-learning-track-primary-color: ;
  /* concept 主题色 */
  --course-concept-primary-color: ;
  /* guided project 主题色 */
  --course-guided-primary-color: ;
  /* teaser 主题色 */
  --course-teaser-primary-color: ;
  /* hackathon 主题色 */
  --course-hackathon-primary-color: ;

  /* landing*/
  /* --landing-  */

  /* mission center */
  --mission-center-bg: #101010;
  --mission-card-bg: #1f1f1f;
  --mission-button-primary-bg: var(--neutral-white);
  --mission-button-second-bg: linear-gradient(180deg, #353535 0%, #2e2e2e 100%);
  --mission-text-color: #ededed;
}
