@import url('./font.css');
@import url('./variable.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button-hover {
    @apply font-next-book text-base font-bold text-white;
  }

  .gray-1 {
    @apply text-[#F2F2F2];
  }
  .gray-2 {
    @apply text-[#B2B2B2];
  }

  .gray-3 {
    @apply text-[#676767];
  }

  .gray-4 {
    @apply text-[#282828];
  }

  .card-bg {
    @apply bg-[#131313];
  }

  .text-h1 {
    @apply text-[#EDEDED] font-next-book-bold text-[5rem] font-bold leading-[100%];
  }

  .text-title {
    @apply text-[#EDEDED]  font-next-book-bold font-bold leading-[100%] text-[1.125rem];
  }

  .text-des-lg {
    @apply w-[29.25rem] text-[#EDEDED] font-next-book font-normal text-[1rem] leading-[120%];
  }

  .text-des-sm {
    @apply w-[16.625rem] text-[#EDEDED] font-next-book font-normal text-[.875rem] leading-[128%];
  }

  .text-des-sx {
    @apply w-[29.25rem] text-[#EDEDED] font-next-book-Thin text-[.75rem] leading-[120%];
  }

  .button-disable {
    @apply font-next-book text-base font-bold text-white;
  }

  .title {
    @apply font-next-book text-base font-bold;
  }

  .top-line {
    @apply before:absolute before:h-[1px] before:scale-y-[1] before:w-full before:bg-line-color before:-top-1;
  }

  .bottom-line {
    @apply after:absolute after:h-[1px] after:scale-y-[1] after:w-full after:bg-line-color after:-bottom-1;
  }

  .top-line-default {
    @apply before:absolute before:h-[1px] before:scale-y-[1] before:w-full before:-top-1;
  }

  .bottom-line-default {
    @apply after:absolute after:h-[1px] after:scale-y-[1] after:w-full after:-bottom-1;
  }

  .description {
    @apply w-[21.5rem] text-xs font-normal not-italic;
  }

  .arrow {
    @apply flex items-center justify-center p-2 rounded-full border border-solid border-course-banner-arrow-border-color hover:bg-course-banner-arrow-hover-bg cursor-pointer;
  }
  .primary-button-hover {
    @apply hover:bg-white hover:text-black;
  }

  .flex-col-center {
    @apply flex flex-col items-center;
  }
  .flex-row-center {
    @apply flex flex-row items-center;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .base-btn {
    @apply w-[145px] h-[40px] flex items-center justify-center text-[14px] rounded-[12px]  text-center;
  }
  .base-btn-bg {
    @apply base-btn bg-mission-center-gradient-radial;
  }
  .base-btn-adapt {
    @apply h-[40px] flex items-center justify-center text-[14px] rounded-[12px]  text-center;
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

.scroll-wrap-y {
  overflow-y: auto;
}

.scroll-wrap-y::-webkit-scrollbar {
  width: 6px;
}

.scroll-wrap-y::-webkit-scrollbar-thumb {
  border-radius: 16px;
  -webkit-box-shadow: inset 0 0 5px rgba(90, 90, 90, 0.2);
  background: rgba(150, 150, 150, 0.2);
}

.scroll-wrap-y::-webkit-scrollbar-thumb:hover {
  background: rgba(150, 150, 150, 0.4);
}

.scroll-wrap-y::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(95, 95, 95, 0.2);
  border-radius: 16px;
  background: rgba(150, 150, 150, 0.1);
}

.scroll-wrap-x {
  overflow-x: auto;
}

.scroll-wrap-x::-webkit-scrollbar {
  height: 6px;
}

.scroll-wrap-x::-webkit-scrollbar-thumb {
  border-radius: 16px;
  -webkit-box-shadow: inset 0 0 5px rgba(90, 90, 90, 0.2);
  background: rgba(150, 150, 150, 0.2);
}

.scroll-wrap-x::-webkit-scrollbar-thumb:hover {
  background: rgba(150, 150, 150, 0.4);
}

.scroll-wrap-x::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(95, 95, 95, 0.2);
  border-radius: 16px;
  background: rgba(150, 150, 150, 0.1);
}

body {
  transition: all ease-in-out 0.5;
}
