@import url('./plyr.css');
@import url('./font.css');
@import url('./variable.css');
@import url('./antd.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* html,
  body {
    height: 100%;
    overflow: auto;
  } */
  @media screen and (max-width: 375px) {
    html {
      font-size: 14px;
    }
  }
  @media screen and (max-width: 320px) {
    html {
      font-size: 12px;
    }
  }
  body {
    @apply bg-neutral-black;
    padding-bottom: constant(safe-area-inset-bottom); /* iOS < 11.2 */
    padding-bottom: env(safe-area-inset-bottom); /* iOS >= 11.2 */
  }

  a:hover {
    scroll-behavior: auto !important;
  }

  /* @see https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-tap-highlight-color */
  button,
  textarea,
  input,
  select,
  a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }

  .text-h1 {
    @apply font-next-book-bold text-[3.375rem] font-bold leading-[54px] tracking-normal;
  }
  .text-h2 {
    @apply font-next-book-bold text-[2.5rem] font-bold leading-[40px] tracking-normal;
  }
  .text-h3 {
    @apply font-next-book-bold text-[1.75rem] font-bold leading-normal tracking-normal;
  }
  .text-h35 {
    @apply font-next-book-bold text-[1.375rem] font-bold leading-normal tracking-normal;
  }
  .text-h4 {
    @apply font-next-book-bold text-[1.125rem] font-bold leading-normal tracking-normal;
  }
  .text-h5 {
    @apply font-next-book-bold text-[1rem] font-bold leading-normal tracking-normal;
  }

  .text-h1-mob {
    @apply font-next-book-bold text-[1.875rem] font-bold leading-[30px] tracking-normal;
  }
  .text-h2-mob {
    @apply font-next-book-bold text-[1.375rem] font-bold leading-normal tracking-normal;
  }
  .text-h3-mob {
    @apply font-next-book-bold text-[1.125rem] font-bold leading-normal tracking-normal;
  }
  .text-h4-mob {
    @apply font-next-book-bold text-[1rem] font-bold leading-normal tracking-normal;
  }
  .text-h5-mob {
    @apply font-next-book-bold text-[.875rem] font-bold leading-normal tracking-normal;
  }

  .body-xl {
    @apply font-Nunito text-[1.5rem] font-normal leading-normal;
  }

  .body-xl-bold {
    @apply font-Nunito text-[1.5rem] font-bold leading-normal;
  }

  .body-l {
    @apply font-Nunito text-[1.125rem] font-normal leading-[160%] tracking-normal;
  }

  .body-l-bold {
    @apply font-Nunito text-[1.125rem] font-bold leading-[160%] tracking-normal;
  }

  .body-m {
    @apply font-Nunito text-[1rem] font-normal leading-[160%] tracking-normal;
  }

  .body-m-bold {
    @apply font-Nunito text-[1rem] font-bold leading-[160%] tracking-normal;
  }

  .body-s {
    @apply font-Nunito text-[.875rem] font-normal leading-[160%] tracking-normal;
  }

  .body-s-bold {
    @apply font-Nunito text-[.875rem] font-bold leading-[160%] tracking-normal;
  }

  .body-xs {
    @apply font-Nunito text-[.75rem] font-normal leading-[160%] tracking-normal;
  }

  .body-xs-bold {
    @apply font-Nunito text-[.75rem] font-bold leading-[160%] tracking-normal;
  }

  .body-xs {
    @apply font-Nunito text-[.75rem] font-normal leading-[160%] tracking-normal;
  }

  .body-xs-bold {
    @apply font-Nunito text-[.75rem] font-bold leading-[160%] tracking-normal;
  }

  .caption-16pt {
    @apply font-Nunito text-[1rem] font-normal leading-normal;
  }

  .caption-14pt {
    @apply font-Nunito text-[.875rem] font-normal leading-normal;
  }

  .caption-12pt {
    @apply font-Nunito text-[.75rem] font-light leading-normal;
  }

  .caption-10pt {
    @apply font-Nunito text-[.625rem] font-normal leading-normal;
  }

  .button-text-l {
    @apply font-Nunito text-[1.125rem] font-medium leading-normal tracking-normal;
  }

  .button-text-m {
    @apply font-Nunito text-[.875rem] font-medium leading-normal tracking-normal;
  }

  .button-text-s {
    @apply font-Nunito text-[.75rem] font-medium leading-normal tracking-normal;
  }

  .code-l {
    @apply font-Space-Mono text-[.875rem] font-normal leading-[150%] tracking-normal;
  }
  .code-m {
    @apply font-Space-Mono text-[.75rem] font-normal leading-[150%] tracking-normal;
  }
  .code-s {
    @apply font-Space-Mono text-[.625rem] font-normal leading-[150%] tracking-normal;
  }

  .underline-l {
    @apply font-Nunito text-[1.125rem] leading-normal tracking-normal underline;
  }
  .underline-m {
    @apply font-Nunito text-[1rem] leading-normal tracking-normal underline;
  }
  .underline-s {
    @apply font-Nunito text-[.875rem] leading-normal tracking-normal underline;
  }
  .headline-h2 {
    @apply font-next-book-bold text-[2.5rem] font-bold leading-normal tracking-normal;
  }
  .headline-h3 {
    @apply font-next-book-bold text-[1.75rem] font-bold leading-normal tracking-normal;
  }
  .headline-h4 {
    @apply font-next-book-bold text-[1.125rem] font-bold leading-normal tracking-normal;
  }
  .headline-h5 {
    @apply font-next-book-bold text-[1rem] font-bold leading-normal tracking-normal;
  }
  .headline-h2-mob {
    @apply font-next-book-bold text-[1.375rem] font-bold leading-normal tracking-normal;
  }
  .headline-h4-mob {
    @apply font-next-book-bold text-[1rem] font-bold leading-normal tracking-normal;
  }
}

@layer components {
  .card-hover {
    @apply cursor-pointer  transition-all duration-300 hover:-translate-y-1 hover:shadow-[0_8px_24px_rgba(149,157,165,0.2)];
  }

  .top-line {
    @apply before:absolute before:-top-1 before:h-[1px] before:w-full before:scale-y-[1] before:bg-line-color;
  }

  .bottom-line {
    @apply after:absolute after:-bottom-1 after:h-[1px] after:w-full after:scale-y-[1] after:bg-line-color;
  }

  .hq-arrow {
    @apply flex cursor-pointer items-center justify-center rounded-full border border-solid border-course-banner-arrow-border-color p-2 hover:bg-course-banner-arrow-hover-bg;
  }

  .flex-col-center {
    @apply flex flex-col items-center;
  }

  .flex-row-center {
    @apply flex flex-row items-center;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .reset-editor-style {
    @apply [&_h1]:text-h2 [&_h2]:text-h3 [&_h3]:text-h4 [&_*]:leading-[160%] [&_a]:underline [&_code]:whitespace-pre-wrap [&_h1]:!leading-[160%] [&_h2]:!leading-[160%] [&_h3]:!leading-[160%] [&_p]:mb-6 [&_pre]:inline-block;
  }

  .reset-editor-style-mob {
    @apply [&_h1]:text-h2-mob [&_h2]:text-h3-mob [&_h3]:text-h4-mob [&_*]:leading-[160%] [&_a]:underline [&_code]:whitespace-pre-wrap [&_h1]:!leading-[160%] [&_h2]:!leading-[160%] [&_h3]:!leading-[160%] [&_p]:mb-4 [&_pre]:inline-block;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

.scroll-wrap-y {
  overflow-y: auto;
}

.scroll-wrap-y::-webkit-scrollbar {
  width: 6px;
}

.scroll-wrap-y::-webkit-scrollbar-thumb {
  border-radius: 16px;
  -webkit-box-shadow: inset 0 0 5px rgba(90, 90, 90, 0.2);
  background: rgba(150, 150, 150, 0.2);
}

.scroll-wrap-y::-webkit-scrollbar-thumb:hover {
  background: rgba(150, 150, 150, 0.4);
}

.scroll-wrap-y::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(95, 95, 95, 0.2);
  border-radius: 16px;
  background: rgba(150, 150, 150, 0.1);
}

.scroll-wrap-x {
  overflow-x: auto;
}

.scroll-wrap-x::-webkit-scrollbar {
  height: 6px;
}

.scroll-wrap-x::-webkit-scrollbar-thumb {
  border-radius: 16px;
  -webkit-box-shadow: inset 0 0 5px rgba(90, 90, 90, 0.2);
  background: rgba(150, 150, 150, 0.2);
}

.scroll-wrap-x::-webkit-scrollbar-thumb:hover {
  background: rgba(150, 150, 150, 0.4);
}

.scroll-wrap-x::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(95, 95, 95, 0.2);
  border-radius: 16px;
  background: rgba(150, 150, 150, 0.1);
}

.documentation-scrollbar {
  overflow-y: auto;
}

.documentation-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.documentation-scrollbar::-webkit-scrollbar-thumb {
  background-color: #dadada;
  border-radius: 5px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.documentation-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

body {
  transition: all ease-in-out 0.5;
}

/* 15 */
.btn-hover {
  /* background: #b621fe; */
  /* border: none; */
  z-index: 1;
}
.btn-hover:after {
  position: absolute;
  content: '';
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #cd9df2;
  border-radius: 50px;
  box-shadow:
    inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
.btn-hover:hover {
  color: #fff;
}
.btn-hover:hover:after {
  left: 0;
  width: 100%;
}
.btn-hover:active {
  top: 2px;
}
input[data-type='changePassword']:-internal-autofill-previewed,
input[data-type='changePassword']:-internal-autofill-selected {
  -webkit-text-fill-color: #fff;
  transition: background-color 5000s ease-out 0.5s;
}

.slide-navigator {
  --highlight-x: 0;
  --highlight-width: 0;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: var(--highlight-x);
    width: var(--highlight-width);
    background: var(--yellow-primary);
    transition: all 0.2s;
  }

  &.slide-navigator-fist-navbar::before {
    height: 0.25rem;
  }
  &.slide-navigator-second-navbar::before {
    height: 1px;
    bottom: 12px;
  }
  &.slide-learning-track-navbar::before {
    height: 3px;
    background: var(--yellow-dark);
  }
}
.slide-blog-navigator {
  --highlight-x: 0;
  --highlight-width: 0;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: var(--highlight-x);
    width: var(--highlight-width);
    background: var(--yellow-primary);
    transition: all 0.2s;
    border-radius: 20px;
  }
}

.slide-growth-tab {
  --highlight-x: 0;
  --highlight-width: 0;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: var(--highlight-x);
    width: var(--highlight-width);
    background: var(--yellow-primary);
    transition: all 0.2s;
    border-radius: 8px;
  }
}

.slide-various-echarts-tab {
  --highlight-x: 0;
  --highlight-width: 0;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: var(--highlight-x);
    width: var(--highlight-width);
    background: var(--yellow-primary);
    transition: all 0.2s;
    border-radius: 4px;
  }
}

.slide-glossary-navigator {
  --highlight-x: 0;
  --highlight-width: 0;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: var(--highlight-x);
    width: var(--highlight-width);
    background: var(--yellow-primary);
    transition: all 0.2s;
    border-radius: 8px;
  }
}
.input-quiver {
  position: relative;
  animation: shake 0.1s infinite;
}

@keyframes shake {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-5px);
  }
  40% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(-5px);
  }
  80% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.language-solidity {
  font-family: var(--font-space-mono) !important;
  font-size: 14px;
  line-height: 150%;
}

/* @font-face {
  font-family: 'color-emoji';
  src: local('Apple Color Emoji'), local('Segoe UI Emoji'),
    local('Segoe UI Symbol'), local('Noto Color Emoji');
} */
.emoji {
  font-family:
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 4rem !important;
  left: 0;
  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100% !important;
  height: 100%;
  box-shadow: none !important;
  opacity: 1;

  -webkit-transform: translate(0px, 0px) !important;
  -ms-transform: translate(0px, 0px) !important;
  transform: translate(0px, 0px) !important;
}

/* Hide arrows in input[type="number"] for Chrome, Safari, Edge, and Opera */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in input[type="number"] for Firefox */
input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes dasharray {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }

  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -125px;
  }
}
