html[data-theme='light'] {
  --primary-green-yellow: #ffd850;
  --default-global-bg: var(--neutral-off-white);
  /* 默认文字颜色 */
  --text-default-color: var(--neutral-black);
  --text-second-color: var(--neutral-off-black);
  /* 默认文字hover颜色 */
  --text-default-hover-color: var(--neutral-white);
  /* 上下伪类下划线的颜色 */
  --line-color: var(--neutral-medium-gray);

  /* --------------------------- course --------------------------- */
  --course-concept-card-bg: url('/images/card/ConceptLearning/light-bg.svg');
  --course-guided-card-bg: url('/images/card/GuidedProject/light-bg.svg');
  --course-hackathon-card-bg: url('/images/card/Hackathon/light-bg.svg');
  --course-learning-track-card-bg: url('/images/card/LearningTracks/light-bg.svg');
  --course-syntax-card-bg: url('/images/card/Syntax/light-bg.svg');
  --course-teaser-card-bg: url('/images/card/Teaser/light-bg.svg');
  /* 课程卡片标题文字颜色 */
  --course-card-title-text-color: var(--neutral-black);
  /* 课程卡片描述字体颜色 */
  --course-card-description-text-color: var(--neutral-off-black);
  /* 课程tag边框颜色 */
  --course-tag-border-color: var(--neutral-medium-gray);
  /* 课程进度button背景色 */
  --course-progress-button-bg: var(--primary-green-yellow);
  /* 课程进度icon颜色 */
  --course-progress-button-icon-color: var(--neutral-black);
  /* 课程进度文字颜色 */
  --course-progress-button-text-color: var(--neutral-black);
  --course-tag-learning-track-border-color: var(--code-dark-green);
  /* learning track 主题色*/
  --course-tag-learning-track-text-color: var(--code-dark-green);
  /* Trending Now 箭头背景色 */
  --course-banner-arrow-bg: var(--primary-green-yellow);
  --course-banner-arrow-hover-bg: #fde694;
  --course-banner-arrow-border-color: var(--primary-green-yellow);
  --course-banner-arrow-border-hover-color: #fde694;
  /* Trending Now 箭头icon */
  --course-banner-arrow-color: var(--neutral-black);
  --course-banner-arrow-hover-color: var(--neutral-white);
  /* syntax 主题色 */
  --course-syntax-primary-color: var(--code-purple);
  /* learning track 主题色 */
  --course-learning-track-primary-color: var(--code-dark-green);
  /* concept 主题色 */
  --course-concept-primary-color: ;
  /* guided project 主题色 */
  --course-guided-primary-color: ;
  /* teaser 主题色 */
  --course-teaser-primary-color: ;
  /* hackathon 主题色 */
  --course-hackathon-primary-color: ;
  --course-learning-button-bg: var(--primary-green-yellow);
  --course-learning-button-border-color: var(--primary-green-yellow);
  --course-learning-button-text-color: var(--neutral-black);
  --course-progress-border-color: var(--primary-green-yellow);
  --course-progress-text-color: var(--neutral-black);
  --course-progress-icon-color: var(--neutral-black);
  --course-detail-desc-text-color: var(--neutral-dark-gray);
  --course-detail-desc-border-color: var(--neutral-medium-gray);
  --course-unit-desc-text-color: var(--neutral-rich-gray);
  --course-unit-lock-icon-color: var(--neutral-medium-gray);
  --course-detail-type-text-color: var(--neutral-black);

  /* learning track */
  --learning-track-progress-border-color: var(--primary-green-yellow);
  --learning-track-progress-text-color: var(--neutral-black);
  --learning-track-course-hover-bg: var(--neutral-white);
  --learning-track-course-title-color: var(--neutral-black);
  --learning-track-course-type-color: var(--neutral-black);

  /* lesson */
  --lesson-global-bg: var(--neutral-white);
  --lesson-content-global-bg: var(--neutral-off-white);
  --lesson-header-back-button-bg: var(--neutral-off-white);
  --lesson-header-back-button-hover-bg: var(--neutral-rich-gray);
  --lesson-header-back-button-border-color: var(--neutral-rich-gray);
  --lesson-header-back-button-border-hover-color: var(--neutral-rich-gray);
  --lesson-header-back-icon-color: var(--neutral-black);
  --lesson-header-back-icon-hover-color: var(--neutral-white);
  --lesson-left-session-bg: var(--neutral-white);
  --lesson-left-session-text-color: var(--neutral-black);
  --lesson-right-session-bg: transparent;
  --lesson-right-session-border-color: var(--neutral-rich-gray);
  --lesson-right-session-hover-bg: #fcc409;
  --lesson-right-session-text-color: var(--neutral-rich-gray);
  --lesson-right-session-hover-text-color: var(--neutral-rich-gray);
  --lesson-right-session-hover-border-color: var(--primary-green-yellow);
  --lesson-dropdown-text-color: var(--neutral-black);
  --lesson-dropdown-border-color: var(--neutral-black);
  --lesson-dropdown-select-line-color: var(--primary-green-yellow);
  --lesson-dropdown-select-border-color: var(--primary-green-yellow);
  --lesson-dropdown-select-text-color: var(--neutral-black);
  --lesson-dropdown-select-bg: var(--primary-green-yellow);
  --lesson-dropdown-disable-text-color: var(--neutral-medium-gray);
  --lesson-dropdown-icon-color: var(--neutral-black);
  --lesson-dropdown-bg: var(--neutral-white);
  --lesson-primary-button-bg: var(--primary-green-yellow);
  --lesson-primary-button-text-color: var(--neutral-black);
  --lesson-primary-button-border-color: var(--primary-green-yellow);
  --lesson-ghost-button-bg: var(--neutral-off-white);
  --lesson-ghost-border-color: var(--neutral-black);
  --lesson-ghost-button-text-color: var(--neutral-black);
  --lesson-completed-modal-bg: var(--neutral-white);
  --lesson-completed-modal-line-color: #f4f4f4;
  --lesson-code-copy-button-bg: var(--primary-green-yellow);
  --lesson-code-copy-button-text: var(--neutral-black);

  /* notionRender */
  --renderer-step-label-bg: var(--neutral-white);
  --renderer-step-label-text-color: var(--primary-green-yellow);
  --renderer-step-box-bg: var(--neutral-off-white);
  --renderer-step-box-text-color: var(--neutral-black);
  --renderer-quote-border-color: var(--primary-green-yellow);
  --renderer-quote-text-color: var(--neutral-rich-gray);
  --renderer-code-bg: var(--primary-green-yellow);
  --renderer-description-more-text-color: var(--primary-green-yellow);

  /* navbar */
  --navbar-login-button-bg: var(--neutral-dark-gray);
  --navbar-login-button-text-color: var(--neutral-white);

  /* landing*/
  /* --landing-  */
  --landing-banner-gradient-to: var(--neutral-off-white);
  --landing-banner-login-button-bg: var(--neutral-black);
  --landing-banner-login-button-text-color: var(--neutral-white);
  --landing-banner-login-button-border-color: var(--neutral-black);
  --landing-card-bg: var(--neutral-white);
  --landing-tab-bg: transparent;
  --landing-tab-hover-bg: var(--neutral-black);
  --landing-tab-border-color: #636363;
  --landing-tab-hover-border-color: var(--neutral-white);
  --landing-tab-text-color: var(--neutral-black);
  --landing-tab-hover-text-color: var(--neutral-white);
  --landing-card-login-button-bg: var(--neutral-black);
  --landing-card-login-button-text-color: var(--neutral-white);
  --landing-card-login-button-border-color: var(--neutral-black);

  /* setting */
  --setting-dropcard-bg: var(--neutral-white);
  --setting-dropcard-line-color: var(--neutral-medium-gray);
  --setting-dropcard-border-color: var(--neutral-medium-gray);
  --setting-dropcard-text-color: var(--neutral-dark-gray);
  --setting-modal-bg: var(--neutral-off-white);
  --setting-modal-border-color: var(--neutral-medium-gray);
  --setting-upload-button-bg: var(--primary-green-yellow);
  --setting-upload-button-text-color: var(--neutral-black);
  --setting-upload-button-border-color: var(--primary-green-yellow);
  --setting-input-title-color: var(--neutral-medium-gray);
  --setting-input-text-color: var(--neutral-black);
  --setting-input-line-color: var(--button-card-card-outline);
  --setting-input-icon-color: var(--neutral-rich-gray);
  --setting-input--border-hover-color: var(--primary-green-yellow);
  --setting-transparent-button-bg: transparent;
  --setting-transparent-button-text-color: var(--neutral-black);
  --setting-transparent-button-border-color: var(--neutral-black);
  --setting-close-icon-border-color: var(--neutral-rich-gray);
  --setting-close-icon-color: var(--neutral-black);

  /* auth */
  --auth-global-bg: var(--neutral-white);
  --auth-input-outline-color: var(--neutral-rich-gray);
  --auth-input-outline-focus-color: var(--neutral-rich-gray);
  --auth-input-success-color: var(--primary-green-yellow);
  --auth-input-success-bg: var(--neutral-white);
  --auth-input-error-color: var(--status-error-default);
  --auth-input-error-bg: var(--status-error-light);
  --auth-input-focus-bg: var(--neutral-white);
  --auth-input-bg: var(--neutral-white);
  --auth-password-input-bg: var(--text-text-white-on-dark);
  --auth-password-focus-bg: var(--neutral-white);
  --auth-input-clear-icon-color: var(--status-error-default);
  --auth-input-success-icon-color: #fcc409;
  --auth-input-visible-icon-color: #3e3e3e;
  --auth-input-checkbox-bg: #fcc409;
  --auth-input-checkbox-border-color: ;
  --auth-input-checkbox-hover-bg: #fcc409;
  --auth-primary-button-border-color: var(--neutral-medium-gray);
  --auth-primary-button-border-hover-color: #fcc409;
  --auth-primary-button-bg: var(--primary-green-yellow);
  --auth-primary-button-hover-bg: #fdd234;
  --auth-primary-button-text-color: var(--neutral-black);
  --auth-primary-button-text-hover-color: #2e2e2e;
  --auth-ghost-button-bg: var(--neutral-white);
  --auth-ghost-button-hover-bg: #f2f2f2;
  --auth-ghost-button-text-color: var(--neutral-black);
  --auth-ghost-button-hover-text-color: var(--neutral-black);
  --auth-ghost-button-border-color: var(--neutral-black);
  --auth-ghost-button-hover-border-color: var(--neutral-black);
  --auth-description-text-color: var(--neutral-black);

  /* --------------------------- mission center --------------------------- */
  --mission-bg: var(--neutral-white);
  --mission-card-bg: var(--neutral-off-white);
  --mission-button-primary-bg: var(--primary-green-yellow);
  --mission-button-second-bg: linear-gradient(180deg, #353535 0%, #2e2e2e 100%);
  --mission-text-color: var(--neutral-black);
}
