html[data-theme='light'] {
  --primary-green-yellow: #ffd850;
  --global-bg: var(--neutral-off-white);
  --text-default-color: var(--neutral-black);

  /* course */
  --concept-card-bg: url('/images/card/ConceptLearning/light-bg.svg');
  --guided-card-bg: url('/images/card/GuidedProject/light-bg.svg');
  --hackathon-card-bg: url('/images/card/Hackathon/light-bg.svg');
  --learning-track-card-bg: url('/images/card/LearningTracks/light-bg.svg');
  --syntax-card-bg: url('/images/card/Syntax/light-bg.svg');
  --teaser-card-bg: url('/images/card/Teaser/light-bg.svg');
  --tag-border-color: var(--neutral-medium-gray);
  --tag-learning-track-border-color: var(--code-dark-green);
  --tag-learning-track-text-color: var(--code-dark-green);
  --card-title-text-color: var(--neutral-black);
  --card-description-text-color: var(--neutral-off-black);
  --banner-arrow-bg: var(--primary-green-yellow);
  --banner-arrow-color: var(--neutral-black);
  --text-default-color: var(--neutral-black);
  --line-color: ;

  --syntax-primary-color: var(--code-purple);
  --learning-track-primary-color: var(--code-dark-green);
  --concept-primary-color: ;
  --guided-primary-color: ;
  --teaser-primary-color: ;
  --hackathon-primary-color: ;

  /* mission center */
  --mission-center-gradient-radial:linear-gradient(180deg, #FFD850 0%, #FFD850 100%);
  --mission-center-tab-box-shadow:linear-gradient(180deg, rgba(255, 255, 255, 0) 0%,#fff 100%);
  --mission-center-basics: #0b0b0b;
  --mission-center-base-bg-color: #010101;
  --mission-center-tab-data: #fff;
  --mission-center-box-bg-color: #fff;
  --mission-center-round-bg-color: #d9d9d9;
  --mission-center-round-bg-color-d: #444;
  --mission-center-undertone: #828282;
  --mission-center-undertone-d: #7d7d7d;
  --mission-center-quests: #FFF4CE;
  --mission-center-quests-d: #FDEAAA;
  --mission-center-quests-box: #DADADA;
  --mission-center-quests-box-active: #FFD850;
  --mission-center-claimed: #fff;
  --mission-center-claimed-d: #f8f8f8;
  --mission-center-quest-btn-bg-color: rgba(10, 10, 10, 0.4);
  --mission-center-quest-btn-bg-color-d: #dadada;
  --mission-center-quests-box-hover: #030303;
  --mission-center-tab-btn-claimed-color:#0b0b0b;
  --mission-center-tab-btn-claimed-bg:#FFD850;
  --mission-center-tab-btn-start-color:#0b0b0b;
  --mission-center-tab-btn-start-bg:#F4F4F4;
  --mission-center-tab-btn-start-border:#0b0b0b;
  --mission-center-tab: #b2b2b2;
  --mission-center-tab-border-color: #282828;
  --mission-center-tab-border-active-color: #FFD850;
  --mission-center-tab-bg:#F4F4F4;
  --mission-center-tab-color:#0b0b0b;
  --mission-center-b-tab:#dadada;
  --mission-center-tab-svg-color: #FDEAAA;
  --mission-center-tab-svg: #FFF4CE;
  --mission-center-schedule-bg-color: #fff;
  --mission-center-schedule-bg-active-color: #FFD850;
  --mission-center-tab-shadow-t-color: rgba(16, 16, 16, 0);
  --mission-center-badge-modal-bg:#141414;
  --mission-center-track-color:#0b0b0b;
  --mission-center-track-color-r:#0b0b0b;
  --mission-center-track-bg-r:#FFD850;
  --mission-center-track:#333;
  --mission-center-lock:#666;
  --mission-center-lock-bg:#f4f4f4;
  --mission-center-lock-bg-r:#FDEAAA;
  --mission-center-track-border: #dadada;
  --mission-center-beginner-svg: #FDEAAA;
  --mission-center-beginner-bg: #F4F4F4;
  --mission-center-beginner-btn-color: #EDEDED;
  --mission-center-beginner-btn-bg: #353535;
  --mission-center-icon-twitter-color: #0388FE;
  --mission-center-icon-user-color: #0B0B0B;
}
