html[data-theme='light'] {
  /* --yellow-primary: var(--yellow-primary); */
  --default-global-bg: var(--neutral-off-white);
  /* 默认文字颜色 */
  --text-default-color: var(--neutral-black);
  --text-second-color: var(--neutral-off-black);
  /* 默认文字hover颜色 */
  --text-default-hover-color: var(--neutral-white);
  /* 上下伪类下划线的颜色 */
  --line-color: var(--neutral-medium-gray);

  /* --------------------------- course --------------------------- */
  --course-concept-card-bg: url('/images/card/ConceptLearning/light-bg.svg');
  --course-guided-card-bg: url('/images/card/GuidedProject/light-bg.svg');
  --course-hackathon-card-bg: url('/images/card/Hackathon/light-bg.svg');
  --course-learning-track-card-bg: url('/images/card/LearningTracks/light-bg.svg');
  --course-syntax-card-bg: url('/images/card/Syntax/light-bg.svg');
  --course-teaser-card-bg: url('/images/card/Teaser/light-bg.svg');
  /* 课程卡片标题文字颜色 */
  --course-card-title-text-color: var(--neutral-black);
  /* 课程卡片描述字体颜色 */
  --course-card-description-text-color: var(--neutral-off-black);
  /* 课程tag边框颜色 */
  --course-tag-border-color: var(--neutral-medium-gray);
  /* 课程进度button背景色 */
  --course-progress-button-bg: var(--yellow-primary);
  /* 课程进度icon颜色 */
  --course-progress-button-icon-color: var(--neutral-black);
  /* 课程进度文字颜色 */
  --course-progress-button-text-color: var(--neutral-black);
  --course-tag-learning-track-border-color: var(--code-dark-green);
  /* learning track 主题色*/
  --course-tag-learning-track-text-color: var(--code-dark-green);
  /* Trending Now 箭头背景色 */
  --course-banner-arrow-bg: var(--yellow-primary);
  --course-banner-arrow-hover-bg: #fde694;
  --course-banner-arrow-border-color: var(--yellow-primary);
  --course-banner-arrow-border-hover-color: #fde694;
  /* Trending Now 箭头icon */
  --course-banner-arrow-color: var(--neutral-black);
  --course-banner-arrow-hover-color: var(--neutral-white);
  /* syntax 主题色 */
  --course-syntax-yellow-primary: var(--code-purple);
  /* learning track 主题色 */
  --course-learning-track-yellow-primary: var(--code-dark-green);
  /* concept 主题色 */
  --course-concept-yellow-primary: ;
  /* guided project 主题色 */
  --course-guided-yellow-primary: ;
  /* teaser 主题色 */
  --course-teaser-yellow-primary: ;
  /* hackathon 主题色 */
  --course-hackathon-yellow-primary: ;
  --course-learning-button-bg: var(--yellow-primary);
  --course-learning-button-border-color: var(--yellow-primary);
  --course-learning-button-text-color: var(--neutral-black);
  --course-progress-border-color: var(--yellow-primary);
  --course-progress-text-color: var(--neutral-black);
  --course-progress-icon-color: var(--neutral-black);
  --course-detail-desc-text-color: var(--neutral-dark-gray);
  --course-detail-desc-border-color: var(--neutral-medium-gray);
  --course-unit-desc-text-color: var(--neutral-rich-gray);
  --course-unit-lock-icon-color: var(--neutral-medium-gray);
  --course-detail-type-text-color: var(--neutral-black);

  /* learning track */
  --learning-track-progress-border-color: var(--yellow-primary);
  --learning-track-progress-text-color: var(--neutral-black);
  --learning-track-course-hover-bg: var(--neutral-white);
  --learning-track-course-title-color: var(--neutral-black);
  --learning-track-course-type-color: var(--neutral-black);

  /* lesson */
  --lesson-global-bg: var(--neutral-white);
  --lesson-content-global-bg: var(--neutral-off-white);
  --lesson-header-back-button-bg: var(--neutral-off-white);
  --lesson-header-back-button-hover-bg: var(--neutral-rich-gray);
  --lesson-header-back-button-border-color: var(--neutral-rich-gray);
  --lesson-header-back-button-border-hover-color: var(--neutral-rich-gray);
  --lesson-header-back-icon-color: var(--neutral-black);
  --lesson-header-back-icon-hover-color: var(--neutral-white);
  --lesson-left-session-bg: var(--neutral-white);
  --lesson-left-session-text-color: var(--neutral-black);
  --lesson-right-session-bg: transparent;
  --lesson-right-session-border-color: var(--neutral-rich-gray);
  --lesson-right-session-hover-bg: #fcc409;
  --lesson-right-session-text-color: var(--neutral-rich-gray);
  --lesson-right-session-hover-text-color: var(--neutral-rich-gray);
  --lesson-right-session-hover-border-color: var(--yellow-primary);
  --lesson-dropdown-text-color: var(--neutral-black);
  --lesson-dropdown-border-color: var(--neutral-black);
  --lesson-dropdown-select-line-color: var(--yellow-primary);
  --lesson-dropdown-select-border-color: var(--yellow-primary);
  --lesson-dropdown-select-text-color: var(--neutral-black);
  --lesson-dropdown-select-bg: var(--yellow-primary);
  --lesson-dropdown-disable-text-color: var(--neutral-medium-gray);
  --lesson-dropdown-icon-color: var(--neutral-black);
  --lesson-dropdown-bg: var(--neutral-white);
  --lesson-primary-button-bg: var(--yellow-primary);
  --lesson-primary-button-text-color: var(--neutral-black);
  --lesson-primary-button-border-color: var(--yellow-primary);
  --lesson-ghost-button-bg: var(--neutral-off-white);
  --lesson-ghost-border-color: var(--neutral-black);
  --lesson-ghost-button-text-color: var(--neutral-black);
  --lesson-completed-modal-bg: var(--neutral-white);
  --lesson-completed-modal-line-color: #f4f4f4;
  --lesson-code-copy-button-bg: var(--yellow-primary);
  --lesson-code-copy-button-text: var(--neutral-black);
  --lesson-code-editor-input-text-color: var(--text-default-color);
  --lesson-code-editor-input-bg: #929292;

  /* --lesson-code-editor-bg: #000;
  --lesson-code-editor-num-color: #8c8c8c;
  --lesson-code-editor-text-color: #000;
  --lesson-code-editor-error-color: #000;
  --lesson-code-editor-success-color: #000; */

  /* notionRender */
  --renderer-step-label-bg: var(--neutral-white);
  --renderer-step-label-text-color: var(--yellow-primary);
  --renderer-step-box-bg: var(--neutral-off-white);
  --renderer-step-box-text-color: var(--neutral-black);
  --renderer-quote-border-color: var(--yellow-primary);
  --renderer-quote-text-color: var(--neutral-rich-gray);
  /* --renderer-code-bg: var(--yellow-primary); */
  --renderer-code-bg: var(--neutral-off-white);
  --renderer-description-more-text-color: var(--yellow-primary);

  /* navbar */
  --navbar-login-button-bg: var(--neutral-dark-gray);
  --navbar-login-button-text-color: var(--neutral-white);

  /* landing*/
  /* --landing-  */
  --landing-banner-gradient-to: var(--neutral-off-white);
  --landing-banner-login-button-bg: var(--neutral-black);
  --landing-banner-login-button-text-color: var(--neutral-white);
  --landing-banner-login-button-border-color: var(--neutral-black);
  --landing-card-bg: var(--neutral-white);
  --landing-tab-bg: transparent;
  --landing-tab-hover-bg: var(--neutral-black);
  --landing-tab-border-color: #636363;
  --landing-tab-hover-border-color: var(--neutral-white);
  --landing-tab-text-color: var(--neutral-black);
  --landing-tab-hover-text-color: var(--neutral-white);
  --landing-card-login-button-bg: var(--neutral-black);
  --landing-card-login-button-text-color: var(--neutral-white);
  --landing-card-login-button-border-color: var(--neutral-black);

  /* setting */
  --setting-dropcard-bg: var(--neutral-white);
  --setting-dropcard-line-color: var(--neutral-medium-gray);
  --setting-dropcard-border-color: var(--neutral-medium-gray);
  --setting-dropcard-text-color: var(--neutral-dark-gray);
  --setting-modal-bg: var(--neutral-off-white);
  --setting-modal-border-color: var(--neutral-medium-gray);
  --setting-upload-button-bg: var(--yellow-primary);
  --setting-upload-button-text-color: var(--neutral-black);
  --setting-upload-button-border-color: var(--yellow-primary);
  --setting-input-title-color: var(--neutral-medium-gray);
  --setting-input-text-color: var(--neutral-black);
  --setting-input-line-color: var(--button-card-card-outline);
  --setting-input-icon-color: var(--neutral-rich-gray);
  --setting-input--border-hover-color: var(--yellow-primary);
  --setting-transparent-button-bg: transparent;
  --setting-transparent-button-text-color: var(--neutral-black);
  --setting-transparent-button-border-color: var(--neutral-black);
  --setting-close-icon-border-color: var(--neutral-rich-gray);
  --setting-close-icon-color: var(--neutral-black);

  /* auth */
  --auth-global-bg: var(--neutral-white);
  --auth-input-outline-color: var(--neutral-rich-gray);
  --auth-input-outline-focus-color: var(--neutral-rich-gray);
  --auth-input-success-color: var(--yellow-primary);
  --auth-input-success-bg: var(--neutral-white);
  --auth-input-error-color: var(--status-error);
  --auth-input-error-bg: var(--status-error-light);
  --auth-input-focus-bg: var(--neutral-white);
  --auth-input-bg: var(--neutral-white);
  --auth-password-input-bg: var(--text-text-neutral-white-on-dark);
  --auth-password-focus-bg: var(--neutral-white);
  --auth-input-clear-icon-color: var(--status-error);
  --auth-input-success-icon-color: #fcc409;
  --auth-input-visible-icon-color: #3e3e3e;
  --auth-input-checkbox-bg: #fcc409;
  --auth-input-checkbox-border-color: ;
  --auth-input-checkbox-hover-bg: #fcc409;
  --auth-primary-button-border-color: var(--neutral-medium-gray);
  --auth-primary-button-border-hover-color: #fcc409;
  --auth-primary-button-bg: var(--yellow-primary);
  --auth-primary-button-hover-bg: #fdd234;
  --auth-primary-button-text-color: var(--neutral-black);
  --auth-primary-button-text-hover-color: #2e2e2e;
  --auth-ghost-button-bg: var(--neutral-white);
  --auth-ghost-button-hover-bg: #f2f2f2;
  --auth-ghost-button-text-color: var(--neutral-black);
  --auth-ghost-button-hover-text-color: var(--neutral-black);
  --auth-ghost-button-border-color: var(--neutral-black);
  --auth-ghost-button-hover-border-color: var(--neutral-black);
  --auth-description-text-color: var(--neutral-black);

  /* mission center */
  --mission-center-gradient-radial: linear-gradient(180deg, var(--yellow-primary) 0%, var(--yellow-primary) 100%);
  --mission-center-tab-box-shadow: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  --mission-center-basics: #0b0b0b;
  --mission-center-base-bg-color: #010101;
  --mission-center-tab-data: #fff;
  --mission-center-box-bg-color: #fff;
  --mission-center-round-bg-color: #d9d9d9;
  --mission-center-round-bg-color-d: #444;
  --mission-center-undertone: #828282;
  --mission-center-undertone-d: #7d7d7d;
  --mission-center-quests: #fff4ce;
  --mission-center-quests-d: #fdeaaa;
  --mission-center-quests-box: #dadada;
  --mission-center-quests-box-active: var(--yellow-primary);
  --mission-center-claimed: #fff;
  --mission-center-claimed-d: #f8f8f8;
  --mission-center-quest-btn-bg-color: rgba(10, 10, 10, 0.4);
  --mission-center-quest-btn-bg-color-d: #dadada;
  --mission-center-quests-box-hover: #030303;
  --mission-center-tab-btn-claimed-color: #0b0b0b;
  --mission-center-tab-btn-claimed-bg: var(--yellow-primary);
  --mission-center-tab-btn-start-color: #0b0b0b;
  --mission-center-tab-btn-start-bg: #f4f4f4;
  --mission-center-tab-btn-start-border: #0b0b0b;
  --mission-center-tab: #0b0b0b;
  --mission-center-tab-border-color: #282828;
  --mission-center-tab-border-active-color: var(--yellow-primary);
  --mission-center-tab-bg: #f4f4f4;
  --mission-center-tab-color: #0b0b0b;
  --mission-center-b-tab: #dadada;
  --mission-center-tab-svg-color: #fdeaaa;
  --mission-center-tab-svg: #fff4ce;
  --mission-center-schedule-bg-color: #fff;
  --mission-center-schedule-bg-active-color: var(--yellow-primary);
  --mission-center-tab-shadow-t-color: rgba(16, 16, 16, 0);
  --mission-center-badge-modal-bg: #fff;
  --mission-center-track-color: #0b0b0b;
  --mission-center-track-color-r: #0b0b0b;
  --mission-center-track-bg-r: var(--yellow-primary);
  --mission-center-track: #333;
  --mission-center-lock: #666;
  --mission-center-lock-bg: #f4f4f4;
  --mission-center-lock-bg-r: #fdeaaa;
  --mission-center-track-border: #dadada;
  --mission-center-beginner-svg: #fdeaaa;
  --mission-center-beginner-bg: #f4f4f4;
  --mission-center-beginner-btn-color: #ededed;
  --mission-center-beginner-btn-bg: #353535;
  --mission-center-icon-twitter-color: #0388fe;
  --mission-center-icon-user-color: #0b0b0b;

  /* v2 lesson */
  --lesson-title-box-border-color: var(--neutral-rich-gray);
  --lesson-footer-bg: var(--neutral-rich-gray);
  --lesson-footer-tab-bg: var(--neutral-medium-gray);
  --lesson-footer-tab-border: var(--neutral-medium-gray);
  --lesson-footer-tab-active-border: var(--neutral-white);
  --lesson-footer-tab-active-bg: var(--neutral-white);
  --lesson-preview-color: var(--neutral-black);
  --lesson-events-left-border-bg: var(--yellow-primary);
  --lesson-events-toggle-bg: var(--yellow-primary);
  --lesson-events-toggle-list-bg: var(--neutral-white);
  --lesson-events-toggle-list-active-bg: #f4f4f4;
  --lesson-events-toggle-list-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  --lesson-code-bg: #f4f4f4;
  --lesson-code-container-bg: #e6e6e6;
  --lesson-code-box-bg: #f4f4f4;
  --lesson-code-input-bg: var(--yellow-extra-light);
  --lesson-code-input-border: var(--neutral-medium-gray);
  --lesson-code-index: var(--neutral-medium-gray);
  --lesson-code-copy-bg: var(--neutral-medium-gray);

  /** v2 home */
  --home-default-color: var(--neutral-black);
  --home-tab-border: var(--yellow-primary);
  --home-learning-track-bg: var(--neutral-white);
  --home-learning-track-border-bg: var(--yellow-primary);
  --home-learning-track-color: var(--neutral-black);
  --home-learning-track-default-color: var(--text-default-color);
  --home-learning-track-progress-bg: var(--neutral-light-gray);
  --home-learning-track-progress-active-bg: #fcc409;
  --home-learning-track-progress-border: var(--neutral-black);
  --home-learning-track-view-button-border: var(--neutral-black);
  --home-learning-track-view-button-color: var(--neutral-black);
  --home-learning-track-view-button-bg: var(--yellow-primary);
  --home-learning-track-no-data-color: var(--neutral-medium-gray);
  --home-learning-track-no-data-button-add-color: var(--neutral-white);
  --home-learning-track-no-data-button-add-bg: var(--neutral-black);
  --home-learning-track-no-data-button-explore-color: var(--neutral-black);
  --home-learning-track-no-data-button-explore-border: var(--neutral-black);

  /** v2 learning track */
  --learning-track-line-bg: var(--neutral-black);
  --learning-track-more-text-color: var(--neutral-black);

  /** v2 selective courses */
  --electives-filter-color: var(--neutral-black);
  --electives-filter-border-color: var(--neutral-black);

  /* v2 landing*/
  /* --landing-  */
  --landing-banner-intr-color: var(--neutral-white);
  --landing-hack-info-bg: var(--neutral-off-white);
  --landing-hack-info-top-color: var(----neutral-off-black);
  --landing-hack-info-learning-btn-color: var(--neutral-black);
  /** --setting */
  --setting-drop-card-bg: var(--neutral-off-black);
  --setting-drop-user-name-color: var(--neutral-white);
  --setting-drop-user-color: var(--neutral-light-gray);
  --setting-drop-user-border: #282828;
  --setting-drop-handler-color: var(--neutral-off-white);
  --setting-drop-setting-modal-border: var(--button-card-card-outline);
  --setting-drop-setting-change-color: var(--text-text-neutral-white-on-dark);
  --setting-drop-setting-input-label: var(--neutral-off-white);
  --setting-close-icon-color-v2: var(--neutral-white);
  --setting-drop-change-password-input-bg: var(--neutral-dark-gray);
  --setting-drop-change-password-input-color: var(--neutral-white);
  --setting-drop-change-password-submit-btn-disable: rgba(255, 255, 255, 0.4);
}
